<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Church Admin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B40EA50C1E7CFA0D00F9A975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B40EA5201E7CFA0D00F9A975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B40EA52B1E7CFA0D00F9A975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
